body{
    background-color: #ede0d4;
}

#dashBoard_h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
}

#dashBoard_h4_historicClass {
    color: #ede0d4;
    background-color: #656d4a;
}

h3{
    color: #484311;
}

.progress-parts{
    font-size: large;
}

/*course list*/

.dashBoard_class_h4{
    margin: 40px;
    margin-bottom: 0;
}

.dashBoard_class_row {
    background-color: rgb(200,182,166,0.4);
    margin: 15px 40px;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

.dashBoard_class_row:hover{
    background-color: #C8B6A6;
    border-radius: 10px;
}
.rowtitle{
    background-color: #C8B6A6;
}

.progress{
    height: 30px;
}