body {
    background-color: #ede0d4;
    color: #414833;
}
.all-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 60px;
}
.top-container {
    display: flex;
    flex: 0 0 70%;
}

.bottom-container {
    display: flex;
    flex: 0 0 30%;
}
.my-container, .dashboard-container, .reminder-container, .game-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.user-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.user-link img {
    text-decoration: none;
    width: 200px;
    height: auto;
    background-color: transparent;
    border-radius: 50px;
}
.user-name{
    color: #414833;
    font-size: 20px;
    /* font-size: x-large; */
    font-weight: bolder;
    
}
.user-sid{
    color: #414833;
}
.user-link:hover .user-name, .user-sid{
    text-decoration: none;
}
.game-container img{
    width: 170px;
    height: auto;
    margin: 70px;
    filter: saturate(70%);
}
.reminder-title, .calendar-title{
    font-size: 24px; /* 設置標題字體大小 */
    /* font-weight: bold; 設置標題字體粗度 */
    margin-bottom: 10px; /* 設置標題與下一行的距離 */
    margin-left: 150px; 
    
}

.reminder-item {
    font-size: 18px; /* 設置內容字體大小 */
    font-weight: normal; /* 設置內容字體粗度 */
    margin-bottom: 5px; /* 設置每行之間的距離 */
    word-wrap: break-word; /* 讓長單詞在必要時換行 */
    margin-left: 155px;
}
.reminder-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}