body {
    font-family: Arial, sans-serif;
    /* padding: 20px; */
    background-color: #ede0d4;
    color: #414833;
}

input[type="radio"] {
    display: none;
}

button {
    background-color: #c8b6a6;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
button:hover {
    background-color: #ede0d4; 
    color: #414833;
    transition: background-color 0.3s,color 0.3s;
}
.name{
    margin-top: 60px;
}
input[type="text"] {
    background-color: #c8b6a6;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="text"]:focus {
    background-color: #ffffff;
    border-color: #414833;
    outline: none;
    transition: background-color 0.3s;
}
.photo div {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: flex-start;
}

.photo label {
    display: block;
    cursor: pointer;
}

.photo label img {
    display: block;
    width: 100px;
    height: auto;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}
.img-option:checked + label > img {
    border-color:#414833;
}
.photo label img:hover {
    border-color: #414833;
}